<!DOCTYPE html>
<html lang="en">

<head>
    {% include("layout/head.html")%}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            {% include("layout/menu.html")%}
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            {% if 'newMdp' in session %}
            <div class="alert alert-success">
                <span class="badge badge-pill badge-success"></span>
                {{session.pop('newMdp')}}
            </div>
            {% endif %}
        
        <h1>Création de compte</h1>
        <form id="loginForm" action="/ajouteCompte" method="POST">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input name="nom" id="nom" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input name="prenom" id="prenom" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">Adresse email</label>
                <input name="mail" id="mail" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="login" class="form-label">Identifiant</label>
                <input name="login" id="login" type="text" class="form-control">
            </div>
            <div class="form-floating mb-3">
                <select name="statut" id="statut" class="form-select">
                    <option value=1>Aéroclub</option>
                    <option value=1>Contrôleur</option>
                    <option value=0>Administrateur</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>    

            {% include("layout/footer.html")%}
            
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% include("layout/script.html")%}

</body>

</html>