<!DOCTYPE html>
<html lang="en">

<head>
    {% include("layout/head.html")%}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            {% include("layout/menu.html")%}
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
        
            {% if 'msg' in session %}
            <div class="alert alert-danger text-center"></div>
            
            {% endif %}
        
        <h1>Login</h1>
            
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Changer le mot de passe</h6>
                            <form action="/newMdp" method="POST">
                                <div class="mb-3">
                                    <label for="mdp1" class="form-label">Mot de Passe</label>
                                    <input name="mdp1" id="mdp1" type="password" class="form-control" placeholder="Nouveau mot de passe">
                                </div>
                                <div class="mb-3">
                                    <label for="mdp2" class="form-label">Mot de Passe</label>
                                    <input name="mdp2" id="mdp2" type="password" class="form-control" placeholder="Confirmation du mot de passe">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Se connecter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            

            

            {% include("layout/footer.html")%}
            
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% include("layout/script.html")%}

</body>

</html>